
  <mat-card class="detail-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title><strong>Ubicación</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="content-card">
          {{ location().city }}, {{ location().state }}, {{ location().country }}
      </p>
    </mat-card-content>
    <mat-card-actions class="button-mat-card-actions">
      <button matButton (click)="goToEditMode()"><mat-icon>edit</mat-icon>Editar</button>
    </mat-card-actions>
  </mat-card>