@if(isEdition()) {
  <section class="section-edit-mode">
    <button matButton="filled" class="add-button" >Agregar nuevo<mat-icon>add_box</mat-icon></button>
  </section>
  <mat-card class="detail-card" appearance="outlined">
    <table class="table-content-card">
          <tr>
            <td class="first-cell-content-card">
              <p class="content-card">
                {{ location().city }}, {{ location().state }}, {{ location().country }}
              </p>
            </td>
            <td class="last-cell-content-card">
              @if (editEnabled()) {
                <button matButton><mat-icon>edit</mat-icon></button>
              }
              @if (deleteEnabled()) {
                <button matButton><mat-icon>delete</mat-icon></button>
              }
            </td>
          </tr>
        </table>
  </mat-card>
} @else {
  <mat-card class="detail-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title><strong>Ubicación</strong></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="content-card">
          {{ location().city }}, {{ location().state }}, {{ location().country }}
      </p>
    </mat-card-content>
    <mat-card-actions class="dashboard-mat-card-actions">
      @if (editEnabled()) {
        <button matButton (click)="goToEditMode()"><mat-icon>edit</mat-icon></button>
      }
      @if (deleteEnabled()) {
        <button matButton><mat-icon>delete</mat-icon></button>
      }
    </mat-card-actions>
  </mat-card>
}