.example-spacer {
  flex: 1 1 auto;
}

.drawer-container {
  height: 100%;  
}

.drawer-image {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.drawer-header {
  padding: 7px;
  text-align: center;
}