<div class="container-page">
  <!-- Resumen Profesional Card -->
  <summary-card [detail]="detail" [showActions]="true"></summary-card>
  
  <!-- Experiencia Profesional Card -->
  <experience-card [experience]="experience" [showActions]="true"></experience-card>

  <!-- Language Card -->
  <language-card [language]="language" [showActions]="true"></language-card>
  <!-- Abilities Card -->
  <mat-card class="detail-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Habilidades</mat-card-title>
      <mat-card-subtitle>Lenguajes y tecnologías</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="content-card">
        Java, SQL, TypeScript, Delphi, C#, JavaScript, HTML, CSS, JSON, Angular, Spring Boot, Spring Security, Spring Data JPA, Hibernate,
        Spring Cloud, Docker, Kubernetes, OpenShift, RESTful APIs, Microservicios, JWT, Git, GitHub, GitLab, SonarQube, Copilot.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <!-- Education Card -->
  <mat-card class="detail-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Educación</mat-card-title>
      <mat-card-subtitle>Ingeniería en Sistemas Computacionales</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="content-card">
        Instituto Tecnológico Superior de Pánuco
        2012 – 2017 (Graduación: Agosto 2019)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <!-- Certifications Card -->
  <mat-card class="detail-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Cursos y Certificaciones</mat-card-title>
      <mat-card-subtitle>Ingeniería en Sistemas Computacionales</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="content-card">
        •	Microservicios Spring Boot, Spring Cloud, Netflix, Eureka – 2025 <br>
        •	Advanced Programming in Java – 2019 <br>
        •	Mockito y Spring Boot Test: La guía definitiva – 2025 <br>
        •	Angular: De cero a experto – Edición 2025
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <!-- Links Card -->
  <mat-card class="detail-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Enlaces</mat-card-title>
      <mat-card-subtitle>Linkedin</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="content-card">
        https://www.linkedin.com/in/alejandro-del-angel/ 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div>
