<div class="container-page">
  <!-- Resumen Profesional Card -->
   @if (detail) {
    <summary-card [detail]="detail" [editEnabled]="true"></summary-card>
   }

   @if (detail.address) {
    <!-- Ubicación Card -->
    <location-card [location]="detail.address" [editEnabled]="true"></location-card>
   }
  
  <!-- Experiencia Profesional Card -->
  @if (detail.experiences.length > 0) {
    <experience-card [experiences]="detail.experiences" [editEnabled]="true"></experience-card>
  }

  <!-- Language Card -->
  @if (detail.languages.length > 0) {
    <language-card [languages]="detail.languages" [editEnabled]="true"></language-card>
  }

  <!-- Abilities Card -->   
  @if (detail.abilityGroups.length > 0) {
    <ability-card [abilityGroups]="detail.abilityGroups" [editEnabled]="true"></ability-card>
  }

  <!-- Education Card -->
  @if (detail.educations.length > 0) {
    <education-card [educations]="detail.educations" [editEnabled]="true"></education-card>
  }

  <!-- Certifications Card -->
  @if (detail.certifications.length > 0) {
    <certification-card [certifications]="detail.certifications" [editEnabled]="true"></certification-card>
  }
  
  <!-- Links Card -->
  @if (detail.links.length > 0) {
    <link-card [links]="detail.links" [editEnabled]="true"></link-card>
  }
</div>
