@switch (viewType()) {
  @case (viewTypeEnum.EDITION) {
    <!-- Edit Mode -->
    <mat-card class="detail-card" appearance="outlined">
      <mat-card-header class="edit-card-header">
          <mat-card-title-group>
            <mat-card-title>{{ detail().position }}</mat-card-title>
            <div>
              <button mat-icon-button matTooltip="Editar" (click)="goToForm()"><mat-icon>edit</mat-icon></button>
            </div>
          </mat-card-title-group>
        </mat-card-header>
      <mat-card-content class="mat-card-content">
        <p class="content-card">
          <span [innerHTML]="detail().summary | replaceLine"></span>
        </p>
      </mat-card-content>
    </mat-card>
  } @case (viewTypeEnum.FORM) {
    <!-- Form Mode -->
    <mat-card class="detail-card" appearance="outlined">
      <mat-card-header class="form-card-header">
        <mat-card-title><strong>Resumen profesional</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content  class="mat-card-content">
        <p class="content-card" >
          <strong> {{ detail().position }} </strong><br />
          <span [innerHTML]="detail().summary | replaceLine"></span>
        </p>
      </mat-card-content>
    </mat-card>
  } @default {
    <!-- Dashboard Mode -->
    <mat-card class="detail-card" appearance="outlined">
      <mat-card-header class="view-card-header">
        <mat-card-title><strong>Resumen profesional</strong></mat-card-title>
      </mat-card-header>

      <mat-card-content  class="mat-card-content">
        <p class="content-card" >
          <strong> {{ detail().position }} </strong><br />
          <span [innerHTML]="detail().summary | replaceLine"></span>
        </p>
      </mat-card-content>

      <mat-card-actions class="dashboard-mat-card-actions">
        <button matButton (click)="goToEditMode()"><mat-icon>edit</mat-icon>Editar</button>
      </mat-card-actions>
    </mat-card>
  }
}
