<p>summary-card.component works!</p>,

<mat-card class="summary-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Resumen profesional</mat-card-title>
    <mat-card-subtitle>Programador Full Stack Java | Angular</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="p-text-content">
      Programador Full Stack con 7 años experiencia en desarrollo de plataformas basadas en 
      microservicios (RESTful) y monolíticas, implementando tecnologías como Spring Boot, 
      Spring Security (JWT), Spring Data (JPA, Hibernate), Spring Cloud, SQL, NoSQL y Cache. 
      Desde la creación hasta la integración y despliegue en entornos Kubernetes (OpenShift, 
      Docker), utilizando patrones de diseño (GoF), principios SOLID, seguridad web (OWASP), 
      análisis de código (SonarQube) y optimización con IA (Copilot). Apasionado por seguir 
      aprendiendo y reforzando conocimientos en tecnologías emergentes para el desarrollo de 
      aplicaciones.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>Editar</button>
    <button matButton>Compartir</button>
  </mat-card-actions>
</mat-card>
