<!-- Update password -->
<mat-card class="detail-card" appearance="outlined">
  <!-- Card Header -->
  <mat-card-header class="edit-card-header">
    <mat-card-title-group>
      <mat-card-title><strong>Contraseña</strong></mat-card-title>
      <!-- Action Buttons -->
      <div class="div-button-title-group">
        <button mat-icon-button matTooltip="Editar">
          <mat-icon class="menu-mat-icon">edit</mat-icon>
        </button>
      </div>
    </mat-card-title-group>
  </mat-card-header>

  <!-- Card Content -->
  <mat-card-content class="mat-card-content">
    <mat-divider></mat-divider>
    <p class="content-card">
      <strong>Contraseña:</strong> **********
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
