<div class="container-page">
  <!-- Resumen Profesional Card -->
  <mat-card class="summary-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Resumen profesional</mat-card-title>
      <mat-card-subtitle>Programador Full Stack Java | Angular</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="p-text-content">
        Programador Full Stack con 7 años experiencia en desarrollo de plataformas basadas en 
        microservicios (RESTful) y monolíticas, implementando tecnologías como Spring Boot, 
        Spring Security (JWT), Spring Data (JPA, Hibernate), Spring Cloud, SQL, NoSQL y Cache. 
        Desde la creación hasta la integración y despliegue en entornos Kubernetes (OpenShift, 
        Docker), utilizando patrones de diseño (GoF), principios SOLID, seguridad web (OWASP), 
        análisis de código (SonarQube) y optimización con IA (Copilot). Apasionado por seguir 
        aprendiendo y reforzando conocimientos en tecnologías emergentes para el desarrollo de 
        aplicaciones.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Compartir</button>
    </mat-card-actions>
  </mat-card>
  <!-- Experiencia Profesional Card -->
  <mat-card class="experience-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Experiencia profesional</mat-card-title>
      <mat-card-subtitle>Programador Full-Stack – ISITA, San Pedro Garza García, Nuevo León, MX</mat-card-subtitle>
      <mat-card-subtitle>Agosto 2021 – Octubre 2024</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="p-text-content">
        •	Lideré el desarrollo de un sistema de mensajería SWIFT con Java Spring Boot, completado en solo el 85% del tiempo estimado. <br/>
        •	Construí microservicios para aclaraciones bancarias (tarjetas, retiros, transferencias, cheques, CONDUSEF). <br/>
        •	Desarrollé interfaces para firma de contrato y validación de buró de crédito usando Angular y Spring Boot. <br/>
        •	Migré una app móvil de Xamarin a Flutter para venta de calzado, mejorando rendimiento. <br/>
        •	Implementé un microservicio para migración de usuarios desde Excel a Core Bancario con validaciones.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <!-- Language Card -->
  <mat-card class="language-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Idiomas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="p-text-content">
        • Inglés (Intermedio)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <!-- Abilities Card -->
  <mat-card class="abilities-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Habilidades</mat-card-title>
      <mat-card-subtitle>Lenguajes y tecnologías</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="p-text-content">
        Java, SQL, TypeScript, Delphi, C#, JavaScript, HTML, CSS, JSON, Angular, Spring Boot, Spring Security, Spring Data JPA, Hibernate,
        Spring Cloud, Docker, Kubernetes, OpenShift, RESTful APIs, Microservicios, JWT, Git, GitHub, GitLab, SonarQube, Copilot.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <!-- Education Card -->
  <mat-card class="education-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Educación</mat-card-title>
      <mat-card-subtitle>Ingeniería en Sistemas Computacionales</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="p-text-content">
        Instituto Tecnológico Superior de Pánuco
        2012 – 2017 (Graduación: Agosto 2019)
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <!-- Certifications Card -->
  <mat-card class="certification-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Cursos y Certificaciones</mat-card-title>
      <mat-card-subtitle>Ingeniería en Sistemas Computacionales</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="p-text-content">
        •	Microservicios Spring Boot, Spring Cloud, Netflix, Eureka – 2025 <br>
        •	Advanced Programming in Java – 2019 <br>
        •	Mockito y Spring Boot Test: La guía definitiva – 2025 <br>
        •	Angular: De cero a experto – Edición 2025
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <!-- Links Card -->
  <mat-card class="link-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Enlaces</mat-card-title>
      <mat-card-subtitle>Linkedin</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="p-text-content">
        https://www.linkedin.com/in/alejandro-del-angel/ 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button matButton>Editar</button>
      <button matButton>Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div>
