/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* Contenedores de las páginas de inicio e inicio de sesión */
.container-page {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  /*background: linear-gradient(135deg, #f8d2ff 0%, #f8d2ff 100%);*/
}
